project.home=/home/sreenath/source/workflow
base.workflow.command.id=999
command.proc.fact.lookup.file=/home/sreenath/source/workflow/properties/command_proc_factory_lookup.prop
user=sreenath
#workflow.id.filename=/home/sreenath/source/workflow/workflowid
dbserver.ip=10.2.0.23:2025
dbserver.name=SYBTIGR
dbserver.database=common
