#output
out/
rst
rst1
rub
lnf
mlc
*.out
lnf
1
2NG.dN
2NG.dS
2NG.t
4fold.nuc
res
*.log

#python
*.pyc

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Compiled codeml
paml4.7a/src/codeml
bin/codeml

# Tmp files
*.swp
*.swo
